<nb-card>
  <nb-card-body>

      <div class="container">
        <div *ngIf="showDiv" class="row" [@listAnimation]>
          <div class="col-sm">
            <span *ngIf="bonliv.xbase10===0"><b>XBASE10: </b><b style="color: darkred;">n'existe pas</b></span>
            <span *ngIf="bonliv.xbase10!==0"><b>XBASE10: </b><b style="color: rgb(26, 167, 26);">{{bonliv.xbase10}}</b></span>
          </div>
          <div class="col-sm">
            <span *ngIf="bonliv.xtva10==0"><b>XTVA10: </b><b style="color: darkred;">n'existe pas</b></span>
            <span *ngIf="bonliv.xtva10!==0"><b>XTVA10: </b><b style="color: rgb(26, 167, 26);">{{bonliv.xtva10}}</b></span>
          </div>
        </div>

          <img [@visibilityChanged] src="assets/images/toulsImages/blue-line-png-1.png" width="265" height="34"/>  
        
        <div *ngIf="showDiv" class="row" [@listAnimation]>
          <div class="col-sm">
            <span *ngIf="bonliv.xbase17==0"><b>XBASE17: </b><b style="color: darkred;">n'existe pas</b></span>
            <span *ngIf="bonliv.xbase17!==0"><b>XBASE17: </b><b style="color: rgb(26, 167, 26);">{{bonliv.xbase17}}</b></span>
          </div>
          <div class="col-sm">
            <span *ngIf="bonliv.xtva17==0"><b>XTVA17: </b><b style="color: darkred;">n'existe pas</b></span>
            <span *ngIf="bonliv.xtva17!==0"><b>XTVA17: </b><b style="color: rgb(26, 167, 26);">{{bonliv.xtva17}}</b></span>
          </div>
        </div>
        
        <img [@visibilityChanged] src="assets/images/toulsImages/blue-line-png-1.png" width="265" height="34"/>  

        <div *ngIf="showDiv" class="row" [@listAnimation]>
          <div class="col-sm">
            <span *ngIf="bonliv.xbase7==0"><b>XBASE7: </b><b style="color: darkred;">n'existe pas</b></span>
            <span *ngIf="bonliv.xbase7!==0"><b>XBASE7: </b><b style="color: rgb(26, 167, 26);">{{bonliv.xbase7}}</b></span>
          </div>
          <div class="col-sm">
            <span *ngIf="bonliv.xtva7==0"><b>XTVA7: </b><b style="color: darkred;">n'existe pas</b></span>
            <span *ngIf="bonliv.xtva7!==0"><b>XTVA7: </b><b style="color: rgb(26, 167, 26);">{{bonliv.xtva7}}</b></span>
          </div>
        </div>
  
        <img [@visibilityChanged] src="assets/images/toulsImages/blue-line-png-1.png" width="265" height="34"/>  

        <div *ngIf="showDiv" class="row" [@listAnimation]>
          <div class="col-sm">
            <span *ngIf="bonliv.xbase29==0"><b>XBASE29: </b><b style="color: darkred;">n'existe pas</b></span>
            <span *ngIf="bonliv.xbase29!==0"><b>XBASE29: </b><b style="color: rgb(26, 167, 26);">{{bonliv.xbase29}}</b></span>
          </div>
          <div class="col-sm">
            <span *ngIf="bonliv.xtva29==0"><b>XTVA29: </b><b style="color: darkred;">n'existe pas</b></span>
            <span *ngIf="bonliv.xtva29!==0"><b>XTVA29: </b><b style="color: rgb(26, 167, 26);">{{bonliv.xtva29}}</b></span>
          </div>
        </div> 
  
        <img [@visibilityChanged] src="assets/images/toulsImages/blue-line-png-1.png" width="265" height="34"/>  

        <div *ngIf="showDiv" class="row" [@listAnimation]>
          <div class="col-sm">
            <span *ngIf="bonliv.xbase36==0"><b>XBASE36: </b><b style="color: darkred;">n'existe pas</b></span>
            <span *ngIf="bonliv.xbase36!==0"><b>XBASE36:  </b><b style="color: rgb(26, 167, 26);">{{bonliv.xbase36}}</b></span>
          </div>
          <div class="col-sm">
            <span *ngIf="bonliv.xtva36==0"><b>XTVA36: </b><b style="color: darkred;">n'existe pas</b></span>
            <span *ngIf="bonliv.xtva36!==0"><b>XTVA36: </b><b style="color: rgb(26, 167, 26);">{{bonliv.xtva36}}</b></span>
          </div>
        </div>
  
        <img [@visibilityChanged] src="assets/images/toulsImages/blue-line-png-1.png" width="265" height="34"/>  
        
        <div *ngIf="showDiv" class="row" [@listAnimation]>
          <div class="col-sm">
            <span *ngIf="bonliv.xbase6==0"><b>XBASE6: </b><b style="color: darkred;">n'existe pas</b></span>
            <span *ngIf="bonliv.xbase6!==0"><b>XBASE6: </b><b style="color: rgb(26, 167, 26);">{{bonliv.xbase6}}</b></span>
          </div>
          <div class="col-sm">
            <span *ngIf="bonliv.xtva6==0"><b>XTVA6: </b><b style="color: darkred;">n'existe pas</b></span>
            <span *ngIf="bonliv.xtva6!==0"><b>XTVA6: </b><b style="color: rgb(26, 167, 26);">{{bonliv.xtva6}}</b></span>
          </div>
        </div>
  
        <img [@visibilityChanged] src="assets/images/toulsImages/blue-line-png-1.png" width="265" height="34"/>  

        <div *ngIf="showDiv" class="row" [@listAnimation]>
          <div class="col-sm">
            <span *ngIf="bonliv.xbase21==0"><b>XBASE21: </b><b style="color: darkred;">n'existe pas</b></span>
            <span *ngIf="bonliv.xbase21!==0"><b>XBASE21: </b><b style="color: rgb(26, 167, 26);">{{bonliv.xbase21}}</b></span>
          </div>
          <div class="col-sm">
            <span *ngIf="bonliv.xtva21==0"><b>XTVA21: </b><b style="color: darkred;">n'existe pas</b></span>
            <span *ngIf="bonliv.xtva21!==0"><b>XTVA21: </b><b style="color: rgb(26, 167, 26);">{{bonliv.xtva21}}</b></span>
          </div>
        </div>
        
        <img [@visibilityChanged] src="assets/images/toulsImages/blue-line-png-1.png" width="265" height="34"/>  

        <div *ngIf="showDiv" class="row" [@listAnimation]>
          <div class="col-sm">
            <span *ngIf="bonliv.xbase19==0"><b>XBASE19: </b><b style="color: darkred;">n'existe pas</b></span>
            <span *ngIf="bonliv.xbase19!==0"><b>XBASE19: </b><b style="color: rgb(26, 167, 26);">{{bonliv.xbase19}}</b></span>
          </div>
          <div class="col-sm">
            <span *ngIf="bonliv.xtva19==0"><b>XTVA19: </b><b style="color: darkred;">n'existe pas</b></span>
            <span *ngIf="bonliv.xtva19!==0"><b>XTVA19: </b><b style="color: rgb(26, 167, 26);">{{bonliv.xtva19}}</b></span>
          </div> 
        </div> 
  
        <img [@visibilityChanged] src="assets/images/toulsImages/blue-line-png-1.png" width="265" height="34"/>  

        <div *ngIf="showDiv" class="row" [@listAnimation]>
          <div class="col-sm">
            <span *ngIf="bonliv.xbase12==0"><b>XBASE12: </b><b style="color: darkred;">n'existe pas</b></span>
            <span *ngIf="bonliv.xbase12!==0"><b>XBASE12: </b><b style="color: rgb(26, 167, 26);">{{bonliv.xbase12}}</b></span>
          </div>
          <div class="col-sm">
            <span *ngIf="bonliv.xtva12==0"><b>XTVA12: </b><b style="color: darkred;">n'existe pas</b></span>
            <span *ngIf="bonliv.xtva12!==0"><b>XTVA12: </b><b style="color: rgb(26, 167, 26);">{{bonliv.xtva12}}</b></span>
          </div> 
        </div> 
  
        <img [@visibilityChanged] src="assets/images/toulsImages/blue-line-png-1.png" width="265" height="34"/>  

        <div *ngIf="showDiv" class="row" [@listAnimation]>
          <div class="col-sm">
            <span *ngIf="bonliv.xbase13==0"><b>XBASE13: </b><b style="color: darkred;">n'existe pas</b></span>
            <span *ngIf="bonliv.xbase13!==0"><b>XBASE13: </b><b style="color: rgb(26, 167, 26);">{{bonliv.xbase13}}</b></span>
          </div>
          <div class="col-sm">
            <span *ngIf="bonliv.xtva13==0"><b>XTVA13: </b><b style="color: darkred;">n'existe pas</b></span>
            <span *ngIf="bonliv.xtva13!==0"><b>XTVA13: </b><b style="color: rgb(26, 167, 26);">{{bonliv.xtva13}}</b></span>
          </div> 
        </div> 
  
        <img [@visibilityChanged] src="assets/images/toulsImages/blue-line-png-1.png" width="265" height="34"/>  
        
        <div *ngIf="showDiv" class="row" [@listAnimation]>
          <div class="col-sm">
            <span *ngIf="bonliv.xbase7A==0"><b>XBASE7A: </b><b style="color: darkred;">n'existe pas</b></span>
            <span *ngIf="bonliv.xbase7A!==0"><b>XBASE7A: </b><b style="color: rgb(26, 167, 26);">{{bonliv.xbase7A}}</b></span>
          </div>
          <div class="col-sm">
            <span *ngIf="bonliv.xtva7A==0"><b>XTVA7A: </b><b style="color: darkred;">n'existe pas</b></span>
            <span *ngIf="bonliv.xtva7A!==0"><b>XTVA7A: </b><b style="color: rgb(26, 167, 26);">{{bonliv.xtva7A}}</b></span>
          </div> 
        </div> 
  
        <img [@visibilityChanged] src="assets/images/toulsImages/blue-line-png-1.png" width="265" height="34"/>  

        <div *ngIf="showDiv" class="row" [@listAnimation]>
          <div class="col-sm">
            <span *ngIf="bonliv.xbase0==0"><b>XBASE0: </b><b style="color: darkred;">n'existe pas</b></span>
            <span *ngIf="bonliv.xbase0!==0"><b>XBASE0: </b><b style="color: rgb(26, 167, 26);">{{bonliv.xbase0}}</b></span>
          </div>
          <div class="col-sm">

          </div> 
        </div> 
  
      </div>  

  </nb-card-body>
  <nb-card-footer>
    <button nbButton status="primary" shape="semi-round" size="small" (click)="cancel()">Cancel</button>
  </nb-card-footer>
</nb-card>
