<div class="accordions-container row offset-sm-2 col-sm-9">
      <nb-card>
        <nb-card-header>
          <img src="assets/images/toulsImages/fleshe.png" width="32" style="vertical-align: middle" nbPopover="Retourner à la liste des etat de livraison?" nbPopoverTrigger="hint" nbPopoverPlacement="right" [routerLink]="['../../../etat-liv-list']"/>
          <p></p>
          <h5>chronometre des evennement de l état de livraison</h5></nb-card-header>
        <nb-card-body>   
          <div class="row">
            <div *ngFor="let chronometer of chronometers">
              <h6>Temps écoulé:</h6>
              <div class="accordions-container row offset-sm-11 col-sm-16">
                <b style="font-size: 30px;" [chronometer]="chronometer"></b>
              </div>
              <div class="full-name-inputs">
                <div class="buttons-row">
                  <button nbButton status="info" size="small" shape="round" class="btn btn-md btn-outline-info" *ngIf="etatliv.confirmation!='recu_est_verifier'" slot="start" (click)="run(chronometer, chronometer.status === 2 ? 1 : 2)" outline> 
                    {{ chronometer.status === 2 ? 'Pause' : 'Start' }}</button>
                  <button nbButton  type="button" status="info" size="small" shape="round" class="btn btn-md btn-outline-info" *ngIf="etatliv.confirmation!='recu_est_verifier'" slot="end" (click)="run(chronometer, 4)" outline> 
                    Restart</button>
                </div>
              </div>
            </div>
          </div>
        </nb-card-body>
      </nb-card>
</div>