<nb-card>
  <nb-card-body>

      <div class="container">
        <div class="row" *ngIf="showDiv" [@listAnimation]>
          <div class="col-sm">
            <span *ngIf="bonprep.xbase10==0"><b>XBASE10: </b><b style="color: darkred;">n'existe pas</b></span>
            <span *ngIf="bonprep.xbase10!==0"><b>XBASE10: </b><b style="color: rgb(26, 167, 26);">{{bonprep.xbase10}}</b></span>
          </div>
          <div class="col-sm">
            <span *ngIf="bonprep.xtva10==0"><b>XTVA10: </b><b style="color: darkred;">n'existe pas</b></span>
            <span *ngIf="bonprep.xtva10!==0"><b>XTVA10: </b><b style="color: rgb(26, 167, 26);">{{bonprep.xtva10}}</b></span>
          </div>
        </div>
  
        <img [@visibilityChanged] src="assets/images/toulsImages/blue-line-png-1.png" width="265" height="40"/> 

        <div class="row" *ngIf="showDiv" [@listAnimation]>
          <div class="col-sm">
            <span *ngIf="bonprep.xbase17==0"><b>XBASE17: </b><b style="color: darkred;">n'existe pas</b></span>
            <span *ngIf="bonprep.xbase17!==0"><b>XBASE17: </b><b style="color: rgb(26, 167, 26);">{{bonprep.xbase17}}</b></span>
          </div>
          <div class="col-sm">
            <span *ngIf="bonprep.xtva17==0"><b>XTVA17: </b><b style="color: darkred;">n'existe pas</b></span>
            <span *ngIf="bonprep.xtva17!==0"><b>XTVA17: </b><b style="color: rgb(26, 167, 26);">{{bonprep.xtva17}}</b></span>
          </div>
        </div>
        
        <img [@visibilityChanged] src="assets/images/toulsImages/blue-line-png-1.png" width="265" height="34"/> 

        <div class="row" *ngIf="showDiv" [@listAnimation]>
          <div class="col-sm">
            <span *ngIf="bonprep.xbase7==0"><b>XBASE7: </b><b style="color: darkred;">n'existe pas</b></span>
            <span *ngIf="bonprep.xbase7!==0"><b>XBASE7: </b><b style="color: rgb(26, 167, 26);">{{bonprep.xbase7}}</b></span>
          </div>
          <div class="col-sm">
            <span *ngIf="bonprep.xtva7==0"><b>XTVA7: </b><b style="color: darkred;">n'existe pas</b></span>
            <span *ngIf="bonprep.xtva7!==0"><b>XTVA7: </b><b style="color: rgb(26, 167, 26);">{{bonprep.xtva7}}</b></span>
          </div>
        </div>
  
        <img [@visibilityChanged] src="assets/images/toulsImages/blue-line-png-1.png" width="265" height="34"/> 

        <div class="row" *ngIf="showDiv" [@listAnimation]>
          <div class="col-sm">
            <span *ngIf="bonprep.xbase29==0"><b>XBASE29: </b><b style="color: darkred;">n'existe pas</b></span>
            <span *ngIf="bonprep.xbase29!==0"><b>XBASE29: </b><b style="color: rgb(26, 167, 26);">{{bonprep.xbase29}}</b></span>
          </div>
          <div class="col-sm">
            <span *ngIf="bonprep.xtva29==0"><b>XTVA29: </b><b style="color: darkred;">n'existe pas</b></span>
            <span *ngIf="bonprep.xtva29!==0"><b>XTVA29: </b><b style="color: rgb(26, 167, 26);">{{bonprep.xtva29}}</b></span>
          </div>
        </div> 
  
        <img [@visibilityChanged] src="assets/images/toulsImages/blue-line-png-1.png" width="265" height="34"/> 

        <div class="row" *ngIf="showDiv" [@listAnimation]>
          <div class="col-sm">
            <span *ngIf="bonprep.xbase36==0"><b>XBASE36: </b><b style="color: darkred;">n'existe pas</b></span>
            <span *ngIf="bonprep.xbase36!==0"><b>XBASE36:  </b><b style="color: rgb(26, 167, 26);">{{bonprep.xbase36}}</b></span>
          </div>
          <div class="col-sm">
            <span *ngIf="bonprep.xtva36==0"><b>XTVA36: </b><b style="color: darkred;">n'existe pas</b></span>
            <span *ngIf="bonprep.xtva36!==0"><b>XTVA36: </b><b style="color: rgb(26, 167, 26);">{{bonprep.xtva36}}</b></span>
          </div>
        </div>
  
        <img [@visibilityChanged] src="assets/images/toulsImages/blue-line-png-1.png" width="265" height="34"/> 

        <div class="row" *ngIf="showDiv" [@listAnimation]>
          <div class="col-sm">
            <span *ngIf="bonprep.xbase6==0"><b>XBASE6: </b><b style="color: darkred;">n'existe pas</b></span>
            <span *ngIf="bonprep.xbase6!==0"><b>XBASE6: </b><b style="color: rgb(26, 167, 26);">{{bonprep.xbase6}}</b></span>
          </div>
          <div class="col-sm">
            <span *ngIf="bonprep.xtva6==0"><b>XTVA6: </b><b style="color: darkred;">n'existe pas</b></span>
            <span *ngIf="bonprep.xtva6!==0"><b>XTVA6: </b><b style="color: rgb(26, 167, 26);">{{bonprep.xtva6}}</b></span>
          </div>
        </div>
  
        <img [@visibilityChanged] src="assets/images/toulsImages/blue-line-png-1.png" width="265" height="34"/> 

        <div class="row" *ngIf="showDiv" [@listAnimation]>
          <div class="col-sm">
            <span *ngIf="bonprep.xbase21==0"><b>XBASE21: </b><b style="color: darkred;">n'existe pas</b></span>
            <span *ngIf="bonprep.xbase21!==0"><b>XBASE21: </b><b style="color: rgb(26, 167, 26);">{{bonprep.xbase21}}</b></span>
          </div>
          <div class="col-sm">
            <span *ngIf="bonprep.xtva21==0"><b>XTVA21: </b><b style="color: darkred;">n'existe pas</b></span>
            <span *ngIf="bonprep.xtva21!==0"><b>XTVA21: </b><b style="color: rgb(26, 167, 26);">{{bonprep.xtva21}}</b></span>
          </div>
        </div>
        
        <img [@visibilityChanged] src="assets/images/toulsImages/blue-line-png-1.png" width="265" height="34"/> 

        <div class="row" *ngIf="showDiv" [@listAnimation]>
          <div class="col-sm">
            <span *ngIf="bonprep.xbase19==0"><b>XBASE19: </b><b style="color: darkred;">n'existe pas</b></span>
            <span *ngIf="bonprep.xbase19!==0"><b>XBASE19: </b><b style="color: rgb(26, 167, 26);">{{bonprep.xbase19}}</b></span>
          </div>
          <div class="col-sm">
            <span *ngIf="bonprep.xtva19==0"><b>XTVA19: </b><b style="color: darkred;">n'existe pas</b></span>
            <span *ngIf="bonprep.xtva19!==0"><b>XTVA19: </b><b style="color: rgb(26, 167, 26);">{{bonprep.xtva19}}</b></span>
          </div> 
        </div> 
  
        <img [@visibilityChanged] src="assets/images/toulsImages/blue-line-png-1.png" width="265" height="34"/> 

        <div class="row" *ngIf="showDiv" [@listAnimation]>
          <div class="col-sm">
            <span *ngIf="bonprep.xbase12==0"><b>XBASE12: </b><b style="color: darkred;">n'existe pas</b></span>
            <span *ngIf="bonprep.xbase12!==0"><b>XBASE12: </b><b style="color: rgb(26, 167, 26);">{{bonprep.xbase12}}</b></span>
          </div>
          <div class="col-sm">
            <span *ngIf="bonprep.xtva12==0"><b>XTVA12: </b><b style="color: darkred;">n'existe pas</b></span>
            <span *ngIf="bonprep.xtva12!==0"><b>XTVA12: </b><b style="color: rgb(26, 167, 26);">{{bonprep.xtva12}}</b></span>
          </div> 
        </div> 
  
        <img [@visibilityChanged] src="assets/images/toulsImages/blue-line-png-1.png" width="265" height="34"/> 

        <div class="row" *ngIf="showDiv" [@listAnimation]>
          <div class="col-sm">
            <span *ngIf="bonprep.xbase13==0"><b>XBASE13: </b><b style="color: darkred;">n'existe pas</b></span>
            <span *ngIf="bonprep.xbase13!==0"><b>XBASE13: </b><b style="color: rgb(26, 167, 26);">{{bonprep.xbase13}}</b></span>
          </div>
          <div class="col-sm">
            <span *ngIf="bonprep.xtva13==0"><b>XTVA13: </b><b style="color: darkred;">n'existe pas</b></span>
            <span *ngIf="bonprep.xtva13!==0"><b>XTVA13: </b><b style="color: rgb(26, 167, 26);">{{bonprep.xtva13}}</b></span>
          </div> 
        </div> 
  
        <img [@visibilityChanged] src="assets/images/toulsImages/blue-line-png-1.png" width="265" height="34"/> 

        <div class="row" *ngIf="showDiv" [@listAnimation]>
          <div class="col-sm">
            <span *ngIf="bonprep.xbase7A==0"><b>XBASE7A: </b><b style="color: darkred;">n'existe pas</b></span>
            <span *ngIf="bonprep.xbase7A!==0"><b>XBASE7A: </b><b style="color: rgb(26, 167, 26);">{{bonprep.xbase7A}}</b></span>
          </div>
          <div class="col-sm">
            <span *ngIf="bonprep.xtva7A==0"><b>XTVA7A: </b><b style="color: darkred;">n'existe pas</b></span>
            <span *ngIf="bonprep.xtva7A!==0"><b>XTVA7A: </b><b style="color: rgb(26, 167, 26);">{{bonprep.xtva7A}}</b></span>
          </div> 
        </div> 
  
        <img [@visibilityChanged] src="assets/images/toulsImages/blue-line-png-1.png" width="265" height="34"/> 

        <div class="row" *ngIf="showDiv" [@listAnimation]>
          <div class="col-sm">
            <span *ngIf="bonprep.xbase0==0"><b>XBASE0: </b><b style="color: darkred;">n'existe pas</b></span>
            <span *ngIf="bonprep.xbase0!==0"><b>XBASE0: </b><b style="color: rgb(26, 167, 26);">{{bonprep.xbase0}}</b></span>
          </div>
          <div class="col-sm">

          </div> 
        </div> 
  
      </div>  

  </nb-card-body>
  <nb-card-footer>
    <button nbButton status="primary" shape="semi-round" size="small" (click)="cancel()">Cancel</button>
  </nb-card-footer>
</nb-card>
