<nb-card>
  <nb-card-body>

      <div class="container">
        <div *ngIf="showDiv" class="row" [@listAnimation]>
          <div class="col-sm">
            <span *ngIf="articles.special1==null || articles.special1==0"><b>Special1: </b><b style="color: darkred;">n'existe pas</b></span>
            <span *ngIf="articles.special1!=null && articles.special1!=0"><b>Special1: </b><b style="color: darkgreen;">existe</b></span>
          </div>
          <div class="col-sm">
            <span *ngIf="articles.m1==null || articles.m1==0"><b>M1: </b><b style="color: darkred;">n'existe pas</b></span>
            <span *ngIf="articles.m1!=null && articles.m1!=0"><b>M1: </b><b style="color: darkgreen;">{{articles.m1}}</b></span>
          </div>
        </div>
  
          <img [@visibilityChanged] src="assets/images/toulsImages/blue-line-png-1.png" width="265" height="34"/>

        <div *ngIf="showDiv" class="row" [@listAnimation]>
          <div class="col-sm">
            <span *ngIf="articles.special2==null || articles.special2==0"><b>Special2: </b><b style="color: darkred;">n'existe pas</b></span>
            <span *ngIf="articles.special2!=null && articles.special2!=0"><b>Special2: </b><b style="color: darkgreen;">existe</b></span>
          </div>
          <div class="col-sm">
            <span *ngIf="articles.m2==null || articles.m2==0"><b>M2: </b><b style="color: darkred;">n'existe pas</b></span>
            <span *ngIf="articles.m2!=null && articles.m2!=0"><b>M2: </b><b style="color: darkgreen;">{{articles.m2}}</b></span>
          </div>
        </div>
        
          <img [@visibilityChanged] src="assets/images/toulsImages/blue-line-png-1.png" width="265" height="34"/>

        <div *ngIf="showDiv" class="row" [@listAnimation]>
          <div class="col-sm">
            <span *ngIf="articles.special3==null || articles.special3==0"><b>Special3: </b><b style="color: darkred;">n'existe pas</b></span>
            <span *ngIf="articles.special3!=null && articles.special3!=0"><b>Special3: </b><b style="color: darkgreen;">existe</b></span>
          </div>
          <div class="col-sm">
            <span *ngIf="articles.m3==null || articles.m3==0"><b>M3: </b><b style="color: darkred;">n'existe pas</b></span>
            <span *ngIf="articles.m3!=null && articles.m3!=0"><b>M3: </b><b style="color: darkgreen;">{{articles.m3}}</b></span>
          </div>
        </div>
  
        <img [@visibilityChanged] src="assets/images/toulsImages/blue-line-png-1.png" width="265" height="34"/>

        <div *ngIf="showDiv" class="row" [@listAnimation]>
          <div class="col-sm">
            <span *ngIf="articles.special4==null || articles.special4==0"><b>Special4: </b><b style="color: darkred;">n'existe pas</b></span>
            <span *ngIf="articles.special4!=null && articles.special4!=0"><b>Special4: </b><b style="color: darkgreen;">existe</b></span>
          </div>
          <div class="col-sm">
            <span *ngIf="articles.m4==null || articles.m4==0"><b>M4: </b><b style="color: darkred;">n'existe pas</b></span>
            <span *ngIf="articles.m4!=null && articles.m4!=0"><b>M4: </b><b style="color: darkgreen;">{{articles.m4}}</b></span>
          </div>
        </div> 
  
        <img [@visibilityChanged] src="assets/images/toulsImages/blue-line-png-1.png" width="265" height="34"/>

        <div *ngIf="showDiv" class="row" [@listAnimation]>
          <div class="col-sm">
            <span *ngIf="articles.special5==null || articles.special5==0"><b>Special5: </b><b style="color: darkred;">n'existe pas</b></span>
            <span *ngIf="articles.special5!=null && articles.special5!=0"><b>Special5: </b><b style="color: darkgreen;">existe</b></span>
          </div>
          <div class="col-sm">
            <span *ngIf="articles.m5==null || articles.m5==0"><b>M5: </b><b style="color: darkred;">n'existe pas</b></span>
            <span *ngIf="articles.m5!=null && articles.m5!=0"><b>M5: </b><b style="color: darkgreen;">{{articles.m5}}</b></span>
          </div>
        </div>
  
        <img [@visibilityChanged] src="assets/images/toulsImages/blue-line-png-1.png" width="265" height="34"/>

        <div *ngIf="showDiv" class="row" [@listAnimation]>
          <div class="col-sm">
            <span *ngIf="articles.special6==null || articles.special6==0"><b>Special6: </b><b style="color: darkred;">n'existe pas</b></span>
            <span *ngIf="articles.special6!=null && articles.special6!=0"><b>Special6: </b><b style="color: darkgreen;">existe</b></span>
          </div>
          <div class="col-sm">
            <span *ngIf="articles.m6==null || articles.m6==0"><b>M6: </b><b style="color: darkred;">n'existe pas</b></span>
            <span *ngIf="articles.m6!=null && articles.m6!=0"><b>M6: </b><b style="color: darkgreen;">{{articles.m6}}</b></span>
          </div>
        </div>
  
        <img [@visibilityChanged] src="assets/images/toulsImages/blue-line-png-1.png" width="265" height="34"/>

        <div *ngIf="showDiv" class="row" [@listAnimation]>
          <div class="col-sm">
            <span *ngIf="articles.special7==null || articles.special7==0"><b>Special7: </b><b style="color: darkred;">n'existe pas</b></span>
            <span *ngIf="articles.special7!=null && articles.special7!=0"><b>Special7: </b><b style="color: darkgreen;">existe</b></span>
          </div>
          <div class="col-sm">
            <span *ngIf="articles.m7==null || articles.m7==0"><b>M7: </b><b style="color: darkred;">n'existe pas</b></span>
            <span *ngIf="articles.m7!=null && articles.m7!=0"><b>M7: </b><b style="color: darkgreen;">{{articles.m7}}</b></span>
          </div>
        </div>
        
        <img [@visibilityChanged] src="assets/images/toulsImages/blue-line-png-1.png" width="265" height="34"/>

        <div *ngIf="showDiv" class="row" [@listAnimation]>
          <div class="col-sm">
            <span *ngIf="articles.special8==null || articles.special8==0"><b>Special8: </b><b style="color: darkred;">n'existe pas</b></span>
            <span *ngIf="articles.special8!=null && articles.special8!=0"><b>Special8: </b><b style="color: darkgreen;">existe</b></span>
          </div>
          <div class="col-sm">
            <span *ngIf="articles.m8==null || articles.m8==0"><b>M8: </b><b style="color: darkred;">n'existe pas</b></span>
            <span *ngIf="articles.m8!=null && articles.m8!=0"><b>M8: </b><b style="color: darkgreen;">{{articles.m8}}</b></span>
          </div> 
        </div> 
  
        <img [@visibilityChanged] src="assets/images/toulsImages/blue-line-png-1.png" width="265" height="34"/>

        <div *ngIf="showDiv" class="row" [@listAnimation]>
          <div class="col-sm">
            <span *ngIf="articles.special9==null || articles.special9==0"><b>Special9: </b><b style="color: darkred;">n'existe pas</b></span>
            <span *ngIf="articles.special9!=null && articles.special9!=0"><b>Special9: </b><b style="color: darkgreen;">existe</b></span>
          </div>
          <div class="col-sm">
            <span *ngIf="articles.m9==null || articles.m9==0"><b>M9: </b><b style="color: darkred;">n'existe pas</b></span>
            <span *ngIf="articles.m9!=null && articles.m9!=0"><b>M9: </b><b style="color: darkgreen;">{{articles.m9}}</b></span>
          </div> 
        </div> 
  
        <img [@visibilityChanged] src="assets/images/toulsImages/blue-line-png-1.png" width="265" height="34"/>

        <div *ngIf="showDiv" class="row" [@listAnimation]>
          <div class="col-sm">
            <span *ngIf="articles.special10==null || articles.special10==0"><b>special10: </b><b style="color: darkred;">n'existe pas</b></span>
            <span *ngIf="articles.special10!=null && articles.special10!=0"><b>special10: </b><b style="color: darkgreen;">existe</b></span>
          </div>
          <div class="col-sm">
            <span *ngIf="articles.m10==null || articles.m10==0"><b>M10: </b><b style="color: darkred;">n'existe pas</b></span>
            <span *ngIf="articles.m10!=null && articles.m10!=0"><b>M10: </b><b style="color: darkgreen;">{{articles.m10}}</b></span>
          </div> 
        </div> 
  
        <img [@visibilityChanged] src="assets/images/toulsImages/blue-line-png-1.png" width="265" height="34"/>

        <div *ngIf="showDiv" class="row" [@listAnimation]>
          <div class="col-sm">
            <span *ngIf="articles.special11==null || articles.special11==0"><b>special11: </b><b style="color: darkred;">n'existe pas</b></span>
            <span *ngIf="articles.special11!=null && articles.special11!=0"><b>special11: </b><b style="color: darkgreen;">existe</b></span>
          </div>
          <div class="col-sm">
            <span *ngIf="articles.m11==null || articles.m11==0"><b>M11: </b><b style="color: darkred;">n'existe pas</b></span>
            <span *ngIf="articles.m11!=null && articles.m11!=0"><b>M11: </b><b style="color: darkgreen;">{{articles.m11}}</b></span>
          </div> 
        </div> 
  
        <img [@visibilityChanged] src="assets/images/toulsImages/blue-line-png-1.png" width="265" height="34"/>
        
        <div *ngIf="showDiv" class="row" [@listAnimation]>
          <div class="col-sm">
            <span *ngIf="articles.special12==null || articles.special12==0"><b>special12: </b><b style="color: darkred;">n'existe pas</b></span>
            <span *ngIf="articles.special12!=null && articles.special12!=0"><b>special12: </b><b style="color: darkgreen;">existe</b></span>
          </div>
          <div class="col-sm">
            <span *ngIf="articles.m12==null || articles.m12==0"><b>M12: </b><b style="color: darkred;">n'existe pas</b></span>
            <span *ngIf="articles.m12!=null && articles.m12!=0"><b>M12: </b><b style="color: darkgreen;">{{articles.m12}}</b></span>
          </div> 
        </div> 
  
      </div>  

  </nb-card-body>
  <nb-card-footer>
    <button nbButton status="primary" shape="semi-round" size="small" (click)="cancel()">Cancel</button>
  </nb-card-footer>
</nb-card>
