
<div class="row">
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>les Actions de Paiement jusqu à la date :{{currentDate}}-{{currentMonth}}-{{currentYear}}</nb-card-header>
      <nb-card-body>
        <ngx-echarts-achatsPret-pie></ngx-echarts-achatsPret-pie>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>les Actions de Validation jusqu à la date :{{currentDate}}-{{currentMonth}}-{{currentYear}}</nb-card-header>
      <nb-card-body>
        <ngx-echarts-achats-pie></ngx-echarts-achats-pie>
      </nb-card-body>
    </nb-card>
  </div>
</div>
    <nb-card>
      <nb-card-header>Montant des revenus d'Achat au cours des jours des semaine</nb-card-header>
      <nb-card-body>
        <ngx-echarts-achats-bar></ngx-echarts-achats-bar>
      </nb-card-body>
    </nb-card>

