@import '../../../@theme/styles/themes';

@include nb-install-component() {
  button[nbTreeGridRowToggle] {
    background: transparent;
    border: none;
    padding: 0;
  }

  .search-label {
    display: block;
  }
  .search-input {
    margin-bottom: 1rem;
  }

  .nb-column-name {
    width: 100%;
  }

  ::ng-deep .row-toggle-button {
    color: nb-theme(text-basic-color);
  }

  .nb-tree-grid-header-cell,
  .nb-tree-grid-header-cell button {
    text-transform: capitalize;
  }

  @media screen and (min-width: 400px) {
    .nb-column-name,
    .nb-column-size {
      width: 50%;
    }
  }

  @media screen and (min-width: 500px) {
    .nb-column-name,
    .nb-column-size,
    .nb-column-kind {
      width: 33.333%;
    }
  }

  @media screen and (min-width: 600px) {
    .nb-column-name {
      width: 31%;
    }
    .nb-column-size,
    .nb-column-kind,
    .nb-column-items {
      width: 23%;
    }
  }

  table {
    table-layout: fixed;
    width: 200px;
  }
  
  th,
  td {
    width: 120px;
    overflow: hidden;
  }

  
  .p-dialog-mask.p-component-overlay {
    background-color: rgba(141, 131, 131, 0.4);
  }

  :host ::ng-deep .p-button {
    margin: 0 .5rem 0 0;
    min-width: 10rem;
}

p {
    margin: 0;
}

.confirmation-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

:host ::ng-deep .p-dialog .p-button {
    min-width: 6rem;
}
}
