<nb-card>
  <nb-card-header>
    emmbalage Table
  </nb-card-header>

  <nb-card-body>
    <div class="container">
      Recherche Table: <input style="width:230px" class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="&#61442;  Recherche Global">
      <table class="table table-bordered table-striped">
        <thead>
        <tr>
          <th style="text-align: center">
            <label class="label">Type Emba</label>
            <div class="form-group">
              <input type="text" nbInput class="form-control" placeholder="search typEmba"
              style="width:150px" [(ngModel)]="searchTermtypEmba"/>
            </div>
          </th>
          <th style="text-align: center">
            <label class="label">Date Emba</label>
          </th>
          <th style="text-align: center">
            <label class="label">QUT</label>
            <div class="form-group">
              <input type="text" nbInput class="form-control" placeholder="search QUT"
              style="width:150px" [(ngModel)]="searchTermQut"/>
            </div>
          </th>
          <th style="text-align: center">
            <label class="label">Num Bon Prep</label>
            <div class="form-group">
              <input type="text" nbInput class="form-control" placeholder="search Num Bon Prep"
              style="width:150px" [(ngModel)]="searchTermNumBonPrep"/>
            </div>
          </th>
          <th style="text-align: center"><label class="label">Actions</label></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let detemba of filteredDetEmbas | filter:searchText">
          <td style="text-align: center" class="field-multiple-drag"><span><p>{{detemba.typEmba}}&nbsp;cm</p></span></td>
          <td style="text-align: center" class="field-multiple-drag"><span><p>{{detemba.dateEmba | date: 'MMM d, y H:mm:ss' : '+0000'}}</p></span></td>
          <td style="text-align: center" class="field-multiple-drag"><span><p>{{detemba.qut}}</p></span></td>
          <td style="text-align: center" class="field-multiple-drag"><span><p>{{detemba.bonprep_detEmbas.numBon}}</p></span></td>

          <td class="field-multiple-drag">
            <div class="buttons-row">
              <button *ngIf="authority==='ROLE_ADMIN' || authority==='ROLE_EMBALLEUR' || authority==='ROLE_EXPEDITEUR'" style="border-radius: 0.75rem;width: 110px;height: 38px;" nbButton type="button" [status]="warning" [size]="small" [shape]="semi-round" class="btn btn-md btn-outline-warning" (click)="goToModifier(detemba.id)" outline>
                <i class="fa fa-edit"></i>Modifier</button>
              <button *ngIf="authority==='ROLE_ADMIN' || authority==='ROLE_EMBALLEUR' || authority==='ROLE_EXPEDITEUR'" style="border-radius: 0.75rem;width: 110px;height: 38px;" nbButton class="btn btn-md btn-outline-danger" type="button" [shape]="semi-round" [size]="medium" [status]="danger" (click)="OpenDeletePopap(detemba.id)" outline>
                <i class="fa fa-remove"></i>Supprimer</button>  
            </div>            
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </nb-card-body>
</nb-card>
