  <div class="col-lg-9">
    <nb-card>
      <nb-card-header>Nombre des utilisateurs par leur Etat actuel : {{currentDate}}/{{currentMonth}}/{{currentYear}}</nb-card-header>
      <nb-card-body>
        <ngx-chartjs-utilisateur-bar></ngx-chartjs-utilisateur-bar>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-9">
    <nb-card>
      <nb-card-header>Nombre des utilisateurs par leur Etat actuel : {{currentDate}}/{{currentMonth}}/{{currentYear}}</nb-card-header>
      <nb-card-body>
        <ngx-chartjs-utilisateur-bar2></ngx-chartjs-utilisateur-bar2>
      </nb-card-body>
    </nb-card>
  </div>