
    <nb-card>
      <nb-card-header>Variation des articles entre les stocks: {{currentDate}}-{{currentMonth}}-{{currentYear}}</nb-card-header>
      <nb-card-body>
        <ngx-echarts-article-pie></ngx-echarts-article-pie>
      </nb-card-body>
    </nb-card>

    <nb-card>
      <nb-card-header>Variation des quantité sortie de stick au cours de la semaine: {{currentDate}}-{{currentMonth}}-{{currentYear}}</nb-card-header>
      <nb-card-body>
        <ngx-echarts-article-bar></ngx-echarts-article-bar>
      </nb-card-body>
    </nb-card>

