<nb-card>
  <nb-card-header>
    Marque Table
    <nb-card-body>
    </nb-card-body>
  </nb-card-header>

  <nb-card-body>
    <div class="container">
      Recherche Table: <input nbInput style="width:230px" class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="&#61442;  Recherche Global">
      <table class="table table-bordered table-striped">
        <thead>
        <tr>
          <th style="text-align: center">
            <label class="label">Code</label>
            <div class="form-group">
              <input type="text" nbInput class="form-control" placeholder="search Code"
              style="width:150px" [(ngModel)]="searchTermCode"/>
            </div>
          </th>
          <th style="text-align: center">
            <label class="label">Titre</label>
            <div class="form-group">
              <input type="text" nbInput class="form-control" placeholder="search titre"
              style="width:150px" [(ngModel)]="searchTermTitle"/>
            </div>
          </th>
          <th style="text-align: center">
            <label class="label">Logo</label>
          </th>
          <th style="text-align: center"><label class="label">Actions</label></th>

        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let marque of filteredMarques | filter:searchText">
          <td style="text-align: center" class="field-multiple-drag"><span><p>{{marque.code}}</p></span></td>
          <td style="text-align: center" class="field-multiple-drag"><span><p>{{marque.title}}</p></span></td>
          <td style="text-align: center" class="field-multiple-drag"><a><img src="{{this.marqueService.host+'/'+marque.code+'/'+marque.fileName}}" style="height: 85px;width: 85px" alt=""></a></td>

          <td class="field-multiple-drag">
            <div class="buttons-row">
              <button style="border-radius: 0.75rem;width: 110px;height: 38px;" nbButton type="button" [status]="info" [size]="small" [shape]="semi-round" class="btn btn-md btn-outline-info" [routerLink]="['Models/../../model-list',marque.id]" outline>
                <i class="fa fa-search"></i>Details</button>
              <button *ngIf="authority==='ROLE_ADMIN' || authority==='ROLE_TRANSITAIRE'" style="border-radius: 0.75rem;width: 110px;height: 38px;" nbButton type="button" [status]="warning" [size]="small" [shape]="semi-round" class="btn btn-md btn-outline-warning" (click)="goToModifier(marque.id)" outline>
                <i class="fa fa-edit"></i>Modifier</button>
              <button *ngIf="authority==='ROLE_ADMIN' || authority==='ROLE_TRANSITAIRE'" style="border-radius: 0.75rem;width: 110px;height: 38px;" nbButton class="btn btn-md btn-outline-danger" type="button" [shape]="semi-round" [size]="medium" [status]="danger" (click)="OpenDeletePopap(marque.id)" outline>
                <i class="fa fa-remove"></i>Supprimer</button>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </nb-card-body>
</nb-card>
