
    <nb-card>
      <nb-card-header>Le montant entrant par les fournisseurs: {{currentDate}}-{{currentMonth}}-{{currentYear}} </nb-card-header>
      <nb-card-body>
        <ngx-echarts-affaire-pie></ngx-echarts-affaire-pie>
      </nb-card-body>
    </nb-card>

    <nb-card>
      <nb-card-header>le montant au cours de la semaine: {{currentDate}}-{{currentMonth}}-{{currentYear}}</nb-card-header>
      <nb-card-body>
        <ngx-echarts-affaire-bar></ngx-echarts-affaire-bar>
      </nb-card-body>
    </nb-card>

