@import '../../../@theme/styles/themes';

@include nb-install-component() {
  button[nbTreeGridRowToggle] {
    background: transparent;
    border: none;
    padding: 0;
  }

  .search-label {
    display: block;
  }
  .search-input {
    margin-bottom: 1rem;
  }

  .nb-column-name {
    width: 100%;
  }

  ::ng-deep .row-toggle-button {
    color: nb-theme(text-basic-color);
  }

  .nb-tree-grid-header-cell,
  .nb-tree-grid-header-cell button {
    text-transform: capitalize;
  }

  @media screen and (min-width: 400px) {
    .nb-column-name,
    .nb-column-size {
      width: 50%;
    }
  }

  @media screen and (min-width: 500px) {
    .nb-column-name,
    .nb-column-size,
    .nb-column-kind {
      width: 33.333%;
    }
  }

  @media screen and (min-width: 600px) {
    .nb-column-name {
      width: 31%;
    }
    .nb-column-size,
    .nb-column-kind,
    .nb-column-items {
      width: 23%;
    }
  }

  table {
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: .8rem;
}
  th,
  td {
    width: 175px;
    overflow: hidden;
    border: 1px solid rgb(190, 190, 190);
    padding: 10px;
  }  

  .result-from-dialog {
    flex-direction: column;
  }

  :host ::ng-deep .p-button {
    margin: 0 .5rem 0 0;
    min-width: 10rem;
}

p {
    margin: 0;
}

.confirmation-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

:host ::ng-deep .p-dialog .p-button {
    min-width: 6rem;
}
}
.p-tableCss {
  border-collapse: collapse;
  border: 2px solid rgb(200, 200, 200);
  letter-spacing: 1px;
  font-family: sans-serif;
  font-size: .8rem;
  min-height: 330px;
  table-layout: fixed;
  width: 100%;
}
th,
td {
  width: 142px;
  border: 1px solid rgb(190, 190, 190);
  padding: 10px;
  word-wrap: break-word;
}
.my-center-text {
  text-align: center;
  width: 100%;
} 