nb-card-body {
  overflow: visible;
  padding-top: 0;

  > * {
    margin-top: 1rem;
  }
}

.full-name-inputs,
.validation-checkboxes {
  display: flex;
  margin: 0 -0.5rem;

  > * {
    margin: 0 0.5rem;
  }
}

.checkbox-radio {
  display: flex;
}

.demo-items {
  flex: 1 0 33%;
}
nb-checkbox {
  margin-bottom: 1rem;
}

.form-inline [fullWidth] {
  flex: 1;
}

.form-inline > * {
  margin: 0 1.5rem 1.5rem 0;
}


  :host ::ng-deep nb-stepper .step-content {
    text-align: center;
  
    button {
      cursor: pointer;
      margin: 0.5rem;
    }
  }
  nb-progress-bar ~ nb-progress-bar {
    margin-top: 1rem;
  }