@import '../../../@theme/styles/themes';

@include nb-install-component() {
  .accordion-container:first-child {
    margin-bottom: nb-theme(card-margin-bottom);
  }

nb-card-body {
    overflow: visible;
    padding-top: 0;
  
    > * {
      margin-top: 1rem;
    }
  }
  
  .full-name-inputs,
  .validation-checkboxes {
    display: flex;
    margin: 0 -0.5rem;
  
    > * {
      margin: 0 0.5rem;
    }
  }
  
  .checkbox-radio {
    display: flex;
  }
  
  .demo-items {
    flex: 1 0 33%;
  }

  :host ::ng-deep .p-dropdown {
    width: 14rem;
}

.country-item-value {
    img.flag {
        width: 17px;
    }
}

.p-button.p-button-icon-only { border-radius: 0;
} .image-gallery { text-align: center; padding: 1rem;
}

.article-item {
  display: flex;
  align-items: center;
  padding: .5rem;
  width: 100%;

  img {
      width: 75px;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
      margin-right: 1rem;
  }

  .article-list-detail {
      flex: 1 1 0;
  }

  .article-list-action {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
  }

  .article-category-icon {
      vertical-align: middle;
      margin-right: .5rem;
  }

  .article-category {
      vertical-align: middle;
      line-height: 1;
  }
}

@media screen and (max-width: 576px) {
  .article-item {
      flex-wrap: wrap;

      .image-container {
          width: 100%;
          text-align: center;
      }

      img {
          margin: 0 0 1rem 0;
          width: 100px;
      }
  }
}
.ng-invalid:not(form){
  border-left: 5px solid red;
  }
  .ng-valid:not(form){
  border-left: 5px solid green;
  }

  nb-progress-bar ~ nb-progress-bar {
    margin-top: 1rem;
  }
}