<nb-card>
  <nb-card-header>
    Livreur Table
    <nb-card-body>
      <div *ngIf="authority==('ROLE_ADMIN' || 'ROLE_EXPEDITEUR')" class="border">
        <button class="btn btn-md btn-outline-primary" (click)="goToCharts()">
          <i class="fa fa-user"></i>Statistiques</button>
      </div>
    </nb-card-body>
  </nb-card-header>

  <nb-card-body>
    <div class="container">
      Recherche Table: <input style="width:230px" class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="&#61442;  Recherche Global">
      <table class="table table-bordered table-striped">
        <thead>
        <tr>
          <th style="text-align: center">
            <label class="label">NOM livreur</label>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="search Nom"
              style="width:150px" [(ngModel)]="searchTermNom"/>
            </div>
          </th>
          <th style="text-align: center">
            <label class="label">NUM_REC</label>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="search NumRec"
              style="width:150px" [(ngModel)]="searchTermNumRec"/>
            </div>
          </th>
          <th style="text-align: center">
            <label class="label">CENTRE</label>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="search Centre"
              style="width:150px" [(ngModel)]="searchTermCentre"/>
            </div>
          </th>
          <th style="text-align: center">
            <label class="label">dat_reclam</label>
          </th>
          <th style="text-align: center">
            <label class="label">dat_repon</label>
          </th>
          <th style="text-align: center">
            <label class="label">date</label>
          </th>
          <th style="text-align: center">
            <label class="label">num_doc</label>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="search NumDoc"
              style="width:150px" [(ngModel)]="searchTermNumDoc"/>
            </div>
          </th>
          <th style="text-align: center">
            <label class="label">obs_reclam</label>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="search ObsReclam"
              style="width:150px" [(ngModel)]="searchTermObsReclam"/>
            </div>
          </th>
          <th style="text-align: center">
            <label class="label">observ</label>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="search Observ"
              style="width:150px" [(ngModel)]="searchTermObserv"/>
            </div>
          </th>
          <th style="text-align: center">
            <label class="label">prix_ach</label>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="search PrixAch"
              style="width:150px" [(ngModel)]="searchTermPrixAch"/>
            </div>
          </th>
          <th style="text-align: center">
            <label class="label">qut_art</label>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="search QutArt"
              style="width:150px" [(ngModel)]="searchTermQutArt"/>
            </div>
          </th>
          <th style="text-align: center">
            <label class="label">reclam</label>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="search Reclam"
              style="width:150px" [(ngModel)]="searchTermReclam"/>
            </div>
          </th>
          <th style="text-align: center">
            <label class="label">typ_mvt</label>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="search TypMvt"
              style="width:150px" [(ngModel)]="searchTermTypMvt"/>
            </div>
          </th>
          <th style="text-align: center"><label class="label">Actions</label></th>

        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let livreur of filteredLivreurs | filter:searchText">
          <td style="text-align: center" class="field-multiple-drag"><span><p>{{livreur.nom}}</p></span></td>
          <td style="text-align: center" class="field-multiple-drag"><span><p>{{livreur.numrec}}</p></span></td>
          <td style="text-align: center" class="field-multiple-drag"><span><p>{{livreur.centre}}</p></span></td>
          <td style="text-align: center" class="field-multiple-drag"><span><p>{{livreur.datreclam | date: 'MMM d, y H:mm:ss' : '+0000'}}</p></span></td>
          <td style="text-align: center" class="field-multiple-drag"><span><p>{{livreur.datrepon | date: 'MMM d, y H:mm:ss' : '+0000'}}</p></span></td>
          <td style="text-align: center" class="field-multiple-drag"><span><p>{{livreur.date | date: 'MMM d, y H:mm:ss' : '+0000'}}</p></span></td>
          <td style="text-align: center" class="field-multiple-drag"><span><p>{{livreur.numdoc}}</p></span></td>
          <td style="text-align: center" class="field-multiple-drag"><span><p>{{livreur.obsreclam}}</p></span></td>
          <td style="text-align: center" class="field-multiple-drag"><span><p>{{livreur.observ}}</p></span></td>
          <td style="text-align: center" class="field-multiple-drag"><span><p>{{livreur.prixach | currency:'TND ' : 'symbol'}}</p></span></td>
          <td style="text-align: center" class="field-multiple-drag"><span><p>{{livreur.qutart}}</p></span></td>
          <td style="text-align: center" class="field-multiple-drag"><span><p>{{livreur.reclam}}</p></span></td>
          <td style="text-align: center" class="field-multiple-drag"><span><p>{{livreur.typmvt}}</p></span></td>

          <td class="field-multiple-drag">
            <div class="buttons-row">
            <button *ngIf="authority==('ROLE_ADMIN' || 'ROLE_EXPEDITEUR')" style="border-radius: 0.75rem;width: 110px;height: 38px;" nbButton type="button" [status]="info" [size]="small" [shape]="semi-round" class="btn btn-md btn-outline-info" [routerLink]="['livreur-detail',livreur.id_livreur]" outline>
              <i class="fa fa-search"></i>Details</button>
            <button *ngIf="authority==('ROLE_ADMIN' || 'ROLE_EXPEDITEUR')" style="border-radius: 0.75rem;width: 110px;height: 38px;" nbButton type="button" [status]="warning" [size]="small" [shape]="semi-round" class="btn btn-md btn-outline-warning" (click)="goToModifier(livreur.id_livreur)" outline>
              <i class="fa fa-edit"></i>Modifier</button>
            <button  *ngIf="authority==('ROLE_ADMIN' || 'ROLE_EXPEDITEUR')" style="border-radius: 0.75rem;width: 110px;height: 38px;" nbButton class="btn btn-md btn-outline-danger" type="button" [shape]="semi-round" [size]="medium" [status]="danger" (click)="OpenDeletePopap(livreur.id_livreur)" outline>
              <i class="fa fa-remove"></i>Supprimer</button>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </nb-card-body>
</nb-card>
