<!--
<div class="row">
    <div class="col-lg-6">
      <nb-card>
        <nb-card-header>detail De Emmbalage</nb-card-header>
        <nb-card-body>
          <div class="full-name-inputs">
            <input type="text" nbInput fullWidth id="id" name="id" required [(ngModel)]="detemba.id" disabled/>
          </div>
          <input type="text" nbInput fullWidth id="NUM_BON" name="NUM_BON" required [(ngModel)]="detemba.NUM_BON">
          <input type="text" nbInput fullWidth id="NUM_COM" name="NUM_COM" required [(ngModel)]="detemba.NUM_COM">
          <input type="text" nbInput fullWidth id="NUM" name="NUM" required [(ngModel)]="detemba.NUM" disabled/>
          <input type="text" nbInput fullWidth id="COD_ART" name="COD_ART" required [(ngModel)]="detemba.COD_ART">
          <textarea rows="5" nbInput fullWidth shape="round" id="DES_ART" name="DES_ART" required [(ngModel)]="detemba.DES_ART"></textarea>
          <input type="text" nbInput fullWidth id="QUT" name="QUT" required [(ngModel)]="detemba.QUT">
        </nb-card-body>
      </nb-card>
    </div>
    <div class="col-lg-6">
        <nb-card>
          <nb-card-header>state</nb-card-header>
          <nb-card-body>
          </nb-card-body>
        </nb-card>      
    </div>
</div>
-->
