@import '../../../@theme/styles/themes';

@include nb-install-component() {
  nb-card {
    transform: translate3d(0, 0, 0);
  }
  ::ng-deep .form {
    display: flex;
    flex-direction: column;

    .text-label {
      margin-top: 1.5rem;
    }
  }
  .border{
    padding: 10px;
  }
  td.field-multiple-drag {
    height:1%;
    width: 1%;
    white-space: nowrap;
}
  .btn{
    margin-right: 10px;
  }
  .fa {
    margin-right: 10px;
  }
  table .btn{
    margin: 2px;
  }
  .buttons-row {
    margin: -0.5rem;
  }

  button[nbButton] {
    margin: 0.5rem;
  }

  .action-icon {
    @include nb-ltr(margin-right, 0.5rem);
    @include nb-rtl(margin-left, 0.5rem);
  }

  .actions-card {
    height: 8rem;
  }
  .buttons-row {
    margin: -0.5rem;
  }

  button[nbButton] {
    margin: 0.5rem;
  }

  .action-icon {
    @include nb-ltr(margin-right, 0.5rem);
    @include nb-rtl(margin-left, 0.5rem);
  }

  .actions-card {
    height: 8rem;
  }
  .form-group{
    display: flex;
    justify-content: center;
  }
  table {
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: .8rem;
    min-height: 330px;
}
  th,
  td {
    width: 142px;
    border: 1px solid rgb(190, 190, 190);
    padding: 10px;
  }  
}
