<!--
  
<div class="row">
    <div class="col-lg-6">
      <nb-card>
        <nb-card-header>Ajouter Bon De Preparation</nb-card-header>
        <nb-card-body>
          <div class="full-name-inputs">
            <input type="text" nbInput fullWidth id="id" name="id" required [(ngModel)]="detprep.id" disabled/>
          </div>
          <input type="text" nbInput fullWidth id="NUM_BON" name="NUM_BON" required [(ngModel)]="detprep.NUM_BON">
          <input type="text" nbInput fullWidth id="NUM_CHAR" name="NUM_CHAR" required [(ngModel)]="detprep.NUM_CHAR">
          <input type="text" nbInput fullWidth id="ZONE" name="ZONE" required [(ngModel)]="detprep.ZONE">
          <input type="text" nbInput fullWidth id="PREPARA" name="PREPARA" required [(ngModel)]="detprep.PREPARA">
          

        </nb-card-body>
      </nb-card>
    </div>
    <div class="col-lg-6">
        <nb-card>
          <nb-card-header>XBASES & XTVAS</nb-card-header>
          <nb-card-body>

          </nb-card-body>
        </nb-card>      
    </div>
</div>

-->