
<div class="row">
  <div class="col-lg-6">
      <nb-card>
        <nb-card-header>Nature Livraison pour l'année {{currentYear}}</nb-card-header>
        <nb-card-body>
          <ngx-echarts-bon-Prep-pie></ngx-echarts-bon-Prep-pie>
        </nb-card-body>
      </nb-card>
    </div>
    <div class="col-lg-6">
      <nb-card>
        <nb-card-header>les jours qui demande une accélération de travail</nb-card-header>
        <nb-card-body>
          <ngx-echarts-bon-Prep-bar></ngx-echarts-bon-Prep-bar>
        </nb-card-body>
      </nb-card>
    </div>
    <div class="col-lg-6">
      <nb-card>
        <nb-card-header>Difference entre la quantité préparer au cours de les quatre dernières années</nb-card-header>
        <nb-card-body>
          <ngx-chartjs-bon-Prep-bar-horizontal></ngx-chartjs-bon-Prep-bar-horizontal>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
