

<!--table art Liv-->

<nb-card>
    <nb-card-body>
        <div>
          <img src="assets/images/toulsImages/fleshe.png" width="32" style="vertical-align: middle" nbPopover="Retourner à la liste des Bon de Sortie?" nbPopoverTrigger="hint" nbPopoverPlacement="right" [routerLink]="['../../../achats-list']"/>
          <h4>Details d' Achats</h4>
          <nb-card-header>
                <div><b>Code Achats : </b>{{ achats.numDocAchat }}</div>

                <div><b>Date Achats : </b>{{ achats.date | date: 'MMM d, y, h:mm:ss a'}}</div>
            </nb-card-header>
           
        </div>
          <p>table  les Achats des Articles</p>
  
          <p-table #dt1 [value]="artachas" dataKey="id"
              [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" [loading]="loading" styleClass="p-datatable-customers p-datatable-gridlines"
              [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
              [globalFilterFields]="['bonise','prixAch','PrixVen','tva','prixAMp','centre']">
              <ng-template pTemplate="caption">
                  <div class="p-d-flex">
                      <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash" (click)="clear(dt1)"></button>
                      <span class="p-input-icon-left p-ml-auto">
                          <i class="pi pi-search"></i>
                          <input pInputText type="text" (input)="dt1.filterGlobal($event.target.value, 'contains')" placeholder="Search keyword" />
                      </span>
                  </div>
              </ng-template>
              <ng-template pTemplate="header">
                  <tr>
                      <th>
                        <div class="p-d-flex p-jc-between p-ai-center">
                          Code Article
                          <div>
                            <p-columnFilter type="text" field="bonise" display="menu"></p-columnFilter>
                          </div>
                        </div>
                      </th>
                      <th>
                        <div class="p-d-flex p-jc-between p-ai-center">
                          Qut Article
                          <div>
                            <p-columnFilter type="numeric" field="bonise" display="menu"></p-columnFilter>
                          </div>
                        </div>
                      </th>
                      <th>
                        <div class="p-d-flex p-jc-between p-ai-center">
                          prixAch 
                          <div>
                            <p-columnFilter type="numeric" field="prixAch" display="menu" currency="TND"></p-columnFilter>
                          </div>
                        </div>
                      </th>
                      <th>
                        <div class="p-d-flex p-jc-between p-ai-center">
                          PrixVen
                          <div> 
                            <p-columnFilter type="numeric" field="PrixVen" display="menu" currency="TND"></p-columnFilter>
                          </div>
                        </div>
                      </th>  
                      <th>
                        <div class="p-d-flex p-jc-between p-ai-center">
                          tva
                          <div> 
                            <p-columnFilter type="numeric" field="tva" display="menu"></p-columnFilter>
                          </div>  
                        </div>
                      </th> 
                      <th>
                        <div class="p-d-flex p-jc-between p-ai-center">
                          prixAMp
                          <div>
                            <p-columnFilter type="numeric" field="prixAMp" display="menu" currency="TND"></p-columnFilter>
                          </div>
                        </div>
                      </th>  
                      
                      <th>
                        <div class="p-d-flex p-jc-between p-ai-center">
                          centre
                          <div>
                            <p-columnFilter type="text" field="centre" display="menu" ></p-columnFilter>
                          </div>
                        </div>
                      </th> 

                      <th>
                        <div class="p-d-flex p-jc-between p-ai-center">
                          Non trouver
                          <div>
                            <p-columnFilter type="number" field="centre" display="menu" ></p-columnFilter>
                            <sup style="color: blueviolet;">(Modifier)</sup>
                          </div>
                        </div>
                      </th> 
                      
                  </tr>
              </ng-template>
  
  
              <ng-template pTemplate="body" let-artacha>
                    <tr>
                      <td>
                        <label *ngIf="artacha.cod_art==null"><b class="p-mb-3 p-text-italic" style="color: rgb(177, 157, 157);" >Pas mentionné</b></label>
                        <label *ngIf="artacha.cod_art!==null" (click)="showModalDialog(artacha.cod_art)">{{ artacha.cod_art }}</label>
  
                        <p-dialog [(visible)]="displayModal" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000"
                        [draggable]="false" [resizable]="false">
                        <div style="text-align: center" class="field-multiple-drag" *ngIf="displayModal===true">
                          <li>                
                            <span class="image-text"><b class="p-mb-3 p-text-light"><nb-card-body>Marque article :</nb-card-body></b> <nb-card-body>{{artic.marque.title}}</nb-card-body>&nbsp;&nbsp;<img style="width:40px;height: 40px;" src="{{this.marqueService.host+'/'+artic.marque.code+'/'+artic.marque.fileName}}" [alt]="artic.marque.title"/></span>                      
                          </li> 
                          <li>
                            <span class="image-text"><b class="p-mb-3 p-text-light"><nb-card-body>Model article :</nb-card-body></b>&nbsp;<nb-card-body>{{artic.model.title}}</nb-card-body></span>
                          </li>
                        </div>
                        <div>
                          <p style="text-align: center" class="field-multiple-drag"><img *ngIf="displayModal==true" src="{{this.articleService.host+'/'+artic.codArt+'/'+artic.fileName}}" style="width:250px;" /></p>
                        </div>
                        <ng-template pTemplate="footer">
                            <p-button icon="pi pi-check" (click)="displayModal=false" label="Annuler" styleClass="p-button-text"></p-button>
                            </ng-template>
                        </p-dialog>
                      </td>
                      <td>
                        <label (click)="showPositionDialogBonise('left')">{{ artacha.bonise }}</label>
                        <p-dialog header="Définition Bonise" [(visible)]="displayPositionBonise" [position]="position" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000"
                        [draggable]="false" [resizable]="false">
                        <p>"In bonis" est une expression d'allure latine, actuellement d'une utilisation peu fréquente, qui caractérise la situation de celui ou de celle qui jouit de l'ensemble des droits d'usage et de disposition que le Droit lui confère sur son patrimoine.</p>
                            <ng-template pTemplate="footer">
                                <p-button icon="pi pi-check" (click)="displayPositionBonise=false" label="Annuler" styleClass="p-button-text"></p-button>
                            </ng-template>
                        </p-dialog>
                      </td>
                      <td>
                        <label (click)="showPositionDialogPrixAch('left')">{{ artacha.prixAch | currency:'TND' : 'symbol'}}</label>
                        <p-dialog header="Définition PrixAch" [(visible)]="displayPositionPrixAch" [position]="position" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000"
                        [draggable]="false" [resizable]="false">
                        <p>Le prix d'achat correspond au prix auquel le fournisseur ou le producteur vend son produit,Sur une facture, cela correspond au prix brut unitaire. Ce prix est exprimé hors taxes. Le coût d'achat correspond au prix d'achat auquel on ajoute les frais d'achat.</p>
                            <ng-template pTemplate="footer">
                                <p-button icon="pi pi-check" (click)="displayPositionPrixAch=false" label="Annuler" styleClass="p-button-text"></p-button>
                            </ng-template>
                        </p-dialog>
                      </td>
                      <td>
                        <label (click)="showPositionDialogPrixVen('left')">{{ artacha.prixVen | currency:'TND' : 'symbol'}}</label>
                        <p-dialog header="Définition PrixVen" [(visible)]="displayPositionPrixVen" [position]="position" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000"
                        [draggable]="false" [resizable]="false">
                        <p>PrixVen c'est le Prix proposé par le vendeur et payé par l'acheteur. C'est le prix qui figurera sur la facture après majoration et réductions éventuelles.</p>
                            <ng-template pTemplate="footer">
                                <p-button icon="pi pi-check" (click)="displayPositionPrixVen=false" label="Annuler" styleClass="p-button-text"></p-button>
                            </ng-template>
                        </p-dialog>
                      </td>
                      <td>
                        <label (click)="showPositionDialogTva('left')">{{ artacha.tva }}%</label>
                        <p-dialog header="Définition Tva" [(visible)]="displayPositionTva" [position]="position" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000"
                        [draggable]="false" [resizable]="false">
                        <p>La TVA est une taxe qui vient s'ajouter au prix de tous les produits qui y sont assujettis, c'est-à-dire la quasi-totalité. ... Il permet ainsi aux entreprises de déduire des sommes à reverser à l'État le montant de la TVA qu'elles ont acquitté sur leurs achats. Au final, seul le consommateur final supporte la TVA.</p>
                            <ng-template pTemplate="footer">
                                <p-button icon="pi pi-check" (click)="displayPositionTva=false" label="Annuler" styleClass="p-button-text"></p-button>
                            </ng-template>
                        </p-dialog>
                      </td>
                      <td>
                        <label (click)="showPositionDialogPrixAMp('left')">{{ artacha.prixAMp | currency:'TND' : 'symbol'}}</label>
                        <p-dialog header="Définition PrixAMp" [(visible)]="displayPositionPrixAMp" [position]="position" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000"
                        [draggable]="false" [resizable]="false">
                        <p>L’assistance médicale à la procréation (AMP), ou procréation médicalement assistée (PMA), consiste à manipuler un ovule et/ou un spermatozoïde pour favoriser l’obtention d’une grossesse. Elle permet de palier certaines difficultés à concevoir, sans nécessairement traiter la cause de l’infertilité.</p>
                            <ng-template pTemplate="footer">
                                <p-button icon="pi pi-check" (click)="displayPositionPrixAMp=false" label="Annuler" styleClass="p-button-text"></p-button>
                            </ng-template>
                        </p-dialog>
                      </td>
                      <td>
                        <label (click)="showPositionDialogCentre('left')">{{ artacha.centre }}</label>
                        <p-dialog header="Définition Centre" [(visible)]="displayPositionCentre" [position]="position" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000"
                        [draggable]="false" [resizable]="false">
                        <p>Le centre de Préparation de Article .</p>
                            <ng-template pTemplate="footer">
                                <p-button icon="pi pi-check" (click)="displayPositionCentre=false" label="Annuler" styleClass="p-button-text"></p-button>
                            </ng-template>
                        </p-dialog>
                      </td>
                      
                      <td>
                        <label *ngIf="artacha.qutNonTrouver==null" (click)="showPositionDialogqutNonTrouver('left',artacha.qutNonTrouver,artacha.id)"><b class="p-mb-3 p-text-italic" style="color: rgb(177, 157, 157);" >Pas mentionné</b></label>
                        <label *ngIf="artacha.qutNonTrouver!==null" (click)="showPositionDialogqutNonTrouver('left',artacha.qutNonTrouver,artacha.id)" style="color: crimson;">{{ artacha.qutNonTrouver }}</label>
                        <p-dialog header="Définition Quantité non trouver" [(visible)]="displayPositionQutNonTrouver" [position]="position" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000"
                        [draggable]="false" [resizable]="false">
                        <p>Quantité Non Trouver par le Prrparateur Bon de Réception.</p>
                        <div *ngIf="displayModifierQutNonTrouver">
                          <label for="QutNonTrouver" class="label">Quantité Non Trouver</label>
                          <input type="number" nbInput fullWidth id="qutNonTrouver" name="qutNonTrouver" pattern="^(0|[1-9][0-9]*)$" max="100" min="0" [(ngModel)]="qutNonTrouver"/> 
                        </div>
                            <ng-template pTemplate="footer">
                              <p-button *ngIf="!displayModifierQutNonTrouver" icon="pi pi-check" (click)="ModifierNonT()" type="button" label="Activer" styleClass="p-button-text"></p-button>
                              <p-button *ngIf="displayModifierQutNonTrouver" icon="pi pi-check" (click)="ModifierNonTEnter(qutNonTrouver)" type="button" label="Modifier" styleClass="p-button-text"></p-button>
                                <p-button icon="pi pi-check" (click)="displayPositionQutNonTrouver=false" label="Annuler" styleClass="p-button-text"></p-button>
                            </ng-template>
                        </p-dialog>
                      </td>
                    </tr>
              </ng-template>
            
              <ng-template pTemplate="emptymessage">
                  <tr>
                      <td colspan="7">No achat found.</td>
                  </tr>
              </ng-template>
          </p-table>
        </nb-card-body>
  </nb-card>
